In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/合肥_20191126.csv')

In [3]:
df.head()

,address,city,date,district,hotpot,href,info,level,op,price,size,structure,tax,title,year,avg_price
0,琥珀新天地西苑,合肥,2019-11-26,包河,常青,https://hf.ke.com/ershoufang/19092118910100131...,中楼层(共11层)|2010年建|3室2厅|100.6平米|南北,中楼层(共11层),南北,160.0,100.60,3室2厅,满五年,市政供暖 三房1卫小高层 小区带游泳池 有车位,2010,1.590457
1,广福花园A区,合肥,2019-11-26,包河,常青,https://hf.ke.com/ershoufang/19100618910100111...,中楼层(共15层)|2008年建|3室1厅|100平米|南北,中楼层(共15层),南北,120.0,100.00,3室1厅,0,广福花园 单价低 总价低 中间层 业主诚心出售,2008,1.200000
2,信达天御枫丹阁,合肥,2019-11-26,包河,常青,https://hf.ke.com/ershoufang/19101418910100133...,低楼层(共24层)|2015年建|3室1厅|111.43平米|南北,低楼层(共24层),南北,216.0,111.43,3室1厅,0,改善大三居，户型好，南北通透，采光无遮挡,2015,1.938437
3,信达天御琅诗郡,合肥,2019-11-26,包河,常青,https://hf.ke.com/ershoufang/19101818910100112...,高楼层(共34层)|2015年建|3室2厅|89.8平米|南北,高楼层(共34层),南北,190.0,89.80,3室2厅,0,信达天御 精装房 临地铁 靠政务 随时看房 有钥匙,2015,2.115813
4,东祥府,合肥,2019-11-26,包河,常青,https://hf.ke.com/ershoufang/19111318910100152...,高楼层(共23层)|2016年建|3室2厅|89平米|南,高楼层(共23层),南,160.0,89.00,3室2厅,0,东祥府 三房总价低 采光好 看房方便 地铁口,2016,1.797753

In [20]:
stat = df[df['price'] != 0].groupby(by='address').agg({'avg_price': 'mean', 'price': 'mean', 'size': 'mean'})
stat = stat.reset_index()
stat.head(20)

      address  avg_price       price        size
0    0551国际公寓   1.036022   65.000000   62.740000
1   369晶品城市公寓   1.408207   89.558140   63.279535
2    908库生活小区   1.190924   84.666667   72.036667
3     BINGO缤购   1.812169  100.785714   55.337429
4     CBC拓基广场   0.868567   44.043478   50.661304
5     CBD中央广场   1.377423  152.000000   96.463571
6     imore公寓   2.422354  173.633333   74.568000
7       一轻局宿舍   1.925134  180.000000   93.500000
8        一里洋房   1.644968  172.718072  105.709337
9       丁家巷3号   2.324278  239.000000  101.050000
10       丁怡花园   1.379344  153.470588  110.541176
11     丁香家园一期   1.537386  133.000000   86.648696
12     丁香家园三期   1.511695  124.100000   81.826500
13     丁香家园二期   1.393619  126.692308   89.762692
14     丁香家园四期   1.354135  100.000000   73.864000
15     七桂塘步行街   3.446972  163.714286   48.115714
16       七里香榭   1.600328  116.978947   73.328596
17      万事达小区   1.091048  142.500000  132.254000
18      万凯碧桂园   1.037426  102.937500  100.316250
19     万和新城广场   1.629226  126.537500   78.779583

In [8]:
aoi_df = pd.read_csv('/Users/leewind/Desktop/breadt_s_aoi_base_aois_1575340829749.txt')

/Users/leewind/.local/share/virtualenvs/leewind-p6XO93Th/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (16,17,18,23,25,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [24]:
aoi_df[(aoi_df['name'] == '丁香家园') & (aoi_df['city'] == 340100)]

Empty DataFrame
Columns: [id, name, province, city, district, address, type_id, category_code, shape, geom, fetch_difficulty, deliver_difficulty, has_elevator, traffic_difficulty, floors, doors, road, hourse_number, source, source_poiid, parent_id, status, created_at, created_by, updated_at, updated_by, geom_type, geo_hash, col3, area, lat, lng, geog, flag, waiting_time, col1, col2, col4, operator_type, operator_reason, ds]
Index: []

[0 rows x 41 columns]